@{
    ViewData["Title"] = "Home Page";
}


<br />
<br />
<form asp-action="Contact">
    <div class="form-group">
        <label class="has-error" style="color:red;">User name is incorrect.</label>
        <br />
        <br />
        <div class="row">
            <div class="col-md-2" style="color:red;">
                <label for="username">User name</label>
            </div>
            <div class="col-md-2 has-error">
                <input id="username" style="border-color:red;width:250px;" type="text" value="invaliduser@domain.com" />
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-2">
                <label for="password">Password</label>
            </div>
            <div class="col-md-2">
                <input id="password" type="password" style="width:250px;" value="testasdsad" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2 right"><button type="submit">Submit</button></div>
        </div>

    </div>
</form>